<main class='index'>
  <header class='masthead d-flex'>
    <div class='container text-center home mx-auto'>
      <h1 class='float'>Express Links</h1>
      <h3 class='mb-5 float'>
        <p>Store your favorite links</p>
      </h3>
      <div>
        <a href='/signup' class='btn btn-primary button-let'>
          Let's get started
        </a>
      </div>
    </div>
  </header>
</main>