<div class='container p-4 '>
  <div class='row'>
    <div class='col-md-4 mx-auto '>
      <div class='card text-center profile-container'>
        <div class='card-body profile'>
          <h3 class="profile">Welcome {{user.fullname}}</h3>
          <h4>Do you wanna add some new links</h4>
          <a href='/links' class='btn btn-primary m-4'>
            Add new Links <i class="fa-solid fa-square-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>