* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202124;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

.index {
  width: 100vw;
  height: 100vh;
}

.masthead {
  color: #131313;
  min-height: 30rem;
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  background: url('/img/bg2.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

@media(min-width: 62rem) {
  .masthead h1 {
    font-size: 5.5rem;
  }

}

/*NavBar Styles*/
i {
  color: white;
}

.nav-item:hover {
  transition: all .2s ease-in-out;
  font-size: 1.1rem;
}

/*Index Styles*/
.float {
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes float {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.button-let {
  background-color: #7c7c7c;
  outline: none;
  border: none;
}

.button-let:hover {
  background-color: #959595;
}

/*Profile Styles*/
.profile {
  font-size: 2.5rem;
}

.profile-container {
  background-color: #959595;
  color: #f5f5f5;
 
}

.profile-container a {
  background-color: #7c7c7c;
  border: #959595;
}

.profile-container a:hover {
  background-color: #838383;
}

.profile-container i:hover {
  color: greenyellow;
}

/*List Links Styles*/
.link{
  text-decoration: none;
  
}
.link-t{
  font-weight: 800;
  color: #0075ff;
  font-size: 1.5rem;
}

/*SignIn and SignUp styles*/
.contai h3{
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 2rem;
  color: #f5f5f5;
}
.contai{
  background-color: #7c7c7c;
}
.btn-success{
  background-color: #00bd78;
  border: none;
  outline: none;
}
.btn-success:hover{
  background-color: #00bb93;
}
.aderir{
  font-weight: 500;
  font-size: 1rem;
  color: #f5f5f5;
}
.create{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  color: #0075ff;
}
.create:hover{
  color: #00a5ff;
}