<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <div class='container-fluid w-100  rounded bg-secondary'>
    <a class='navbar-brand expres' href='/'><lord-icon
        src='https://cdn.lordicon.com/rfbqeber.json'
        style='width:40px;height:40px'
      >
      </lord-icon>Express Links</a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarNav'
      aria-controls='navbarNav'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav offset-md-4'>
        {{#if user}}
          <li class='nav-item dropdown'>
            <a
              class='nav-link dropdown-toggle'
              href='#'
              id='navbarDropdown'
              role='button'
              data-bs-toggle='dropdown'
              aria-expanded='false'
            >
              <i class="fa-solid fa-link m-1"></i>Links
            </a>
            <ul class='dropdown-menu' aria-labelledby='navbarDropdown'>
              <li><a class='dropdown-item' href='/links'>All Links</a></li>
              <li>
                <hr class='dropdown-divider' />
              </li>
              <li><a class='dropdown-item' href='/links/add'>Add a Link</a></li>
            </ul>
          </li>
          <li class='nav-item'>
            <div class="icons">
            <a href='/profile' class='nav-link'><i class="fa-regular fa-user m-1"></i>Profile</a>
            </div>
          </li>
          <li class='nav-item'>
            <div>
            <a href='/logout' class='nav-link'><i class="fa-solid fa-right-from-bracket m-1"></i>Logout</a>
            </div>
          </li>
        {{else}}
          <li class='nav-item'>
            <div>
            <a href='/signin' class='nav-link'><i class="fa-solid fa-right-from-bracket"></i>SignIn</a>
            </div>
          </li>
          <li class='nav-item'>
            <div>
            <a href='/signup' class='nav-link'><i class="fa-regular fa-right-to-bracket"></i>SignUp</a>
            </div>
          </li>
        {{/if}}

      </ul>
    </div>
  </div>
</nav>